<div class="middle">
<div class="middle-left">
    <img src="assets/images/cart.png" style="width: 40%; height: 200px;">
    <h1>Your shopping Cart</h1>
        <p><b>This is a free <b style="color: rgb(86, 86, 136);">responsive Shopping Cart layout, 
            made by Tutorialzine.</b> It looks nice on both desktop and mobile 
            browsers. Try it by resizing your window(or opening it on your 
            smartphones and pc).</b>

</div>

<div class="middle-right">
    <h6>QTY</h6>
    <h6>ITEM</h6>
    <h6 style="float: right; padding-right: 70px;">PRICE</h6>
    <table class="table-1">
        <tr>
            <td class="one-1">1</td>
            <td class="one-2">Birthday Cake</td>
            <td class="one-3" style="line-height: 48px;">$49.95
                <select class="set"></select>
            </td>
        </tr>
    </table>

    <table class="table-2">
        <tr>
            <td class="two-1">50</td>
            <td class="two-2">Party Cups</td>
            <td class="two-3" style="line-height: 48px;">$5.00
                <select class="set"></select>
            </td>
        </tr>
    </table>

    <table class="table-3">
        <tr>
            <td class="three-1">20</td>
            <td class="three-2">Beer Kegs</td>
            <td class="three-3" style="line-height: 48px;">$919.99
                <select class="set"></select>
            </td>
        </tr>
    </table>
    
    <table class="table-4">
        <tr>
            <td class="four-1">18</td>
            <td class="four-2">Pound of beef</td>
            <td class="four-3" style="line-height: 48px;">$269.45
                <select class="set"></select>
            </td>
        </tr>
    </table>

    <table class="table-5">
        <tr>
            <td class="five-1">1</td>
            <td class="five-2">Bullet Proof Vest</td>
            <td class="five-3" style="line-height: 48px;">$450.00
                <select class="set"></select>
            </td>
        </tr>
    </table>

    <p>Total: $1694.43</p>
    <button type="button">ORDER</button>

</div>
</div>

